.card-container{
  padding:10px;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap:15px;
  width:100%;
  /* margin: 0 auto; */
}
.icon-side{
  margin-right: 7px;
}
.flex{
  display: flex;
  justify-content: space-between;
}
.card{
  position: relative;
  padding: 15px;
  border:2px solid gray;
  border-radius: 15px;
}
.info{
  margin-bottom: 40px;
}
.cart-add-btn{
  width:100%;
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  outline: none;
  border:none;
  background-color: #112233;
  color:white;
  padding:10px;
  font-size: 16px;
  border-radius: 0px 0px 15px 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card-img{
  width:100%;
}
@media screen and (max-width:768px){
  .card-container{
    grid-template-columns: 1fr 1fr;
    width: 100%;
  }

}

@media screen and (max-width:600px){
  .card-container{
    grid-template-columns: 1fr;
    padding: 20px;
  }
}